<section>
    <div class="container">
     <!--   <h2>Meus projetos</h2>-->
        <ul> 
            @for (item of myProjects(); track item) {
                <li> 
                    <button (click)="openDialog(item)">
                        <img 
                        [src]="item.src" 
                        [alt]="item.alt"
                        [attr.width]="item.width"
                        [attr.height]="item.height"
                        loading="lazy"
                        >
                    </button>
                </li>
            }

        </ul>
    </div>
</section>
