:host{
    margin-top: 25px;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--black-010);
    h2{
        text-align: center;
        margin: 0 0 25px 0;
        font-size: 30px;
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        li{
            flex: 20%;
            height: 160px;
            width: 160px;
            button{
                width: 100%;
                height: 100%;
                cursor: pointer;

                background: var(--black-010);
                border: 2px solid var(--primary);
                border-radius: 7px;
                transition: 0.5s;

                &:hover{
                    background: var(--black);
                }
            }
        }
    }

    @media (max-width: 750px){
        ul{li{flex:100%}}
    }
}