
    <div class="container">
        <h2> Ultimas Expereriencias </h2>
        @for (item of myExperiences(); track item) {
            <details>
                <summary>
                    <p>
                        <strong>
                            {{item.sumary.strong}}
                        </strong>
                        {{item.sumary.text}}
                    </p>
                </summary>
                <article>
                    <p [innerHTML]="item.text">

                    </p>
                    <a [href]="item.link.src" target="_blank">
                         {{ item.link.text }}</a>
                </article>
            </details>
        }
    </div>

