<header> 
    <img 
     src="./assets/img/joao.jpg"
     alt="João Lucas - Foto de Perfil"
     width=""
     height=""
     loading="eager"
     />
    <h1> 
       João Lucas Felix
    </h1>
</header>

<aside>
    <div class="container">
        <p>
            Java | Spring | Angular
        </p>
        <p>
            João Pessoa, Paraíba, Brasil
        </p>
        <p>
            Atualmente cursando Ciência da computação na Universidade Federal da Paraíba.
        </p>

        <nav> 
            <ul>
                <li>
                    <a href="https://github.com/Joao-lucas-felix"
                        target="_blank"
                        class="btn btn-primary"
                    >
                        Meu github
                    </a>
                </li>

                <li>
                    <a href="https://github.com/Joao-lucas-felix"
                        target="_blank"
                        class="btn btn-secondary"
                    >
                        Curriculo
                    </a>
                </li>

            </ul>
        </nav>
        <section>
            <figure>
                <img           
                src="/assets/icons/whatsapp.svg"
                alt="Ícone para contato do WhatsApp"
                width="22px"
                height="24px"
                >
                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5583991462386&text=Ol%C3%A1%20,%20preciso%20de%20um%20job!" target="_blank" >
                        <strong>Envie uma menssagem para: </strong>
                        <p>(83) 991462386</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img src="/assets/icons/mail.svg" alt="icone e-mail"
                    height="24px" width="24px"
                >
                <figcaption>
                    <a href="mailto:jlmacena06@gmail.com" target="_blank">
                        <strong>Envie uma e-mail para: </strong>
                        <p>{{ "jlmacena06@gmail.com" }}</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>

    
</aside>